@charset "UTF-8";

@font-face {
    font-family: "Stanford";
    src: url("https://www-media.stanford.edu/assets/fonts/stanford.woff") format("woff"), url("https://www-media.stanford.edu/assets/fonts/stanford.ttf") format("truetype");
    font-weight: 300;
    font-display: swap;
}
@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

.ggeWidget .ggeContent .ggeQuestion {
  @apply su-p-0 su-mb-34 md:su-mb-45;
}

.ggeWidget .ggeContent .ggeQuestion:last-child {
  @apply su-pb-0 md:su-pb-0;
}

.ggeWidget .ggeQuestion .ggeQuestion__field input,
.ggeWidget .ggeQuestion .ggeQuestion__field select,
.ggeWidget .ggeQuestion .ggeQuestion__field textarea {
  @apply su-leading-display su-p-20 su-max-w-full su-w-full su-text-[1.8px] md:su-text-[2.1rem] su-border-0 su-border-b-2 su-border-black-50 su-rounded-[3px] su-box-border;
  background: rgba(16, 15, 13, 0.5);
}

.ggeWidget .ggeQuestion .ggeQuestion__field textarea {
  @apply su-min-h-[138px]
}

.ggeWidget .ggeQuestion--required .ggeAddress__street2 input[type="text"] {
  @apply su-border-0 su-border-b-2 su-border-black-50;
}

.ggeWidget .ggeQuestion input[readonly] {
  @apply su-text-black-30 su-border-dashed su-border-foggy-light su-bg-transparent su-p-0;
}

.ggeWidget .ggeQuestion input,
.ggeWidget .ggeQuestion textarea {
  @apply su-px-[21px] md:su-px-[19px] su-py-[20px];
}

.ggeWidget .ggePageNav {
  @apply su-flex su-justify-between;
}

.ggeWidget .ggePageNav--back {
  @apply su-static su-translate-y-0;
}

.ggeWidget .ggeButton {
  @apply su-flex su-leading-none su-inline-block su-w-fit su-no-underline su-underline-offset su-font-regular hocus:su-underline su-px-20 su-py-10 md:su-px-26 md:su-py-14 su-text-21 md:su-text-23 su-capitalize su-mt-4 md:su-mt-45;
}

.ggeWidget .ggeButton--forward {
  @apply su-border-solid su-border-3 su-transition-colors su-border-digital-red su-bg-digital-red su-text-white hocus:su-bg-cardinal-red-xdark hocus:su-text-white hocus:su-border-cardinal-red-xdark hocus:su-shadow-md su-rounded-none
}

.ggeWidget .ggeButton--back {
  @apply su-static su-translate-x-0 su-relative su-gradient-border su-border-to-rt-palo-verde-dark-to-saa-electric-blue su-text-saa-electric-blue hocus:su-text-white hocus:su-bg-gradient-to-tr hocus:su-from-palo-verde-dark hocus:su-to-saa-electric-blue hocus:su-shadow-md;
}


.ggeWidget .ggeQuestion__label label {
  @apply su-type-0 su-font-semibold;
}

.ggeWidget .ggeQuestion__caption {
  @apply su-text-15 md:su-text-18 md:su-mr-11;
}


.ggeWidget .ggeTally--total {
  @apply su-border-0
}
