
/* Membership Light Form Theme */
.su-light-form .ggeWidget {
  @apply su-text-black
}

/* Membership display none */
.su-light-form .ggeWidget .su-membership-dname label,
.su-light-form .ggeWidget .ggeSection--profile .ggeQuestion .ggeQuestion__label label[for="Terms and Conditions Acknowledgement|I agree.__input__ggid1"],
.su-light-form .ggeWidget .ggeSection--profile .ggeQuestion .ggeQuestion__field textarea[data-fieldid="Terms and Conditions Acknowledgement|I agree."],
.su-light-form .ggeWidget .ggeSection--profile .ggeQuestion .ggeQuestion__field #ggeQuestion__caption--1--PhoneNumber,
.su-light-form .ggeWidget .ggeSection--profile .ggeQuestion .ggeQuestion__field #ggeQuestion__caption--1--ContactEmail {
  @apply su-hidden;
}

/* Membership Error */
.su-light-form .ggeWidget .ggeQuestion--error,
.su-light-form .ggeWidget .ggeQuestion__error,
.su-light-form .ggeWidget .ggePageNav--formError {
  @apply su-bg-transparent su-text-digital-red;
}

.su-light-form .ggeWidget .ggeQuestion--instructions a,
.su-light-form .ggeWidget .ggeQuestion__error a {
  @apply su-no-underline hocus:su-underline su-text-white hocus:su-decoration-digital-red su-font-regular su-underline-offset-[3px];
}

.su-light-form .ggeWidget .ggeQuestion--instructions a:after,
.su-light-form .ggeWidget .ggeQuestion__error a:after {
  content: "";
  mask: url("../assets/arrow-right.svg");
  -webkit-mask-size: contain;
  @apply su-inline-block su-bg-cover su-flex-shrink-0 su-w-[1.5rem] su-h-[1.5rem] su--rotate-45 su-bg-digital-red su-ml-4 su-relative su-top-2 su-transition su-transform-gpu;
}

.su-light-form .ggeWidget  .ggeQuestion.ggeQuestion--error input[type="email"],
.su-light-form .ggeWidget  .ggeQuestion.ggeQuestion--error input[type="number"],
.su-light-form .ggeWidget  .ggeQuestion.ggeQuestion--error input[type="text"],
.su-light-form .ggeWidget  .ggeQuestion.ggeQuestion--error input[type="date"],
.su-light-form .ggeWidget  .ggeQuestion.ggeQuestion--error select,
.su-light-form .ggeWidget  .ggeQuestion.ggeQuestion--error textarea {
  @apply su-border su-border-digital-red;
}

/* Membership Recipient Digital Name */
.su-light-form .ggeWidget .su-membership-dname.ggeQuestion[data-name="DigitalName"] {
  @apply su-rs-mb-0 su-block;
}

.su-light-form .ggeWidget .su-membership-dname.ggeQuestion[data-name="DigitalName"] #DigitalName__ggid1 {
  @apply su-mt-0 su-text-black;
}

/* Membership Recipient First and Last Name */
.su-light-form .ggeWidget .ggeQuestion.ggeQuestion--readonly.su-name.su-first-name {
  @apply su-m-0;
}

.su-light-form .ggeWidget .ggeQuestion.ggeQuestion--readonly.su-name label {
  @apply su-hidden;
}

.su-light-form .ggeWidget .ggeSection--askArray.ggeSection--registration,
.su-light-form .ggeWidget .ggeTally {
  @apply su-border-2 su-pt-[2.6rem] su-px-[2.6rem] su-pb-[4.5rem] su-mb-[7.2rem] su-border-4 su-border-digital-blue su-bg-fog-light;
}

/* Membership form caption order, spacing, and styling */
.su-light-form .ggeWidget .su-digital-name .ggeQuestion__field input[type="text"] {
  @apply hocus:su-border-none su-text-black su-bg-transparent su-p-0 su-type-1 su-font-semibold su-text-white su--mt-2;
}

.su-light-form .ggeWidget .ggeQuestion .ggeQuestion__field select {
  @apply su-bg-no-repeat su-text-black su-leading-[2.4rem] md:su-leading-[2.7rem];
  background-position: right 22px center;
  background-image: url("../assets/arrow-down-black.svg");
  background-size: 21px;
}

.su-light-form .ggeWidget .ggeQuestion .ggeQuestion__field .ggePrompt__select {
  @apply su-flex su-flex-col-reverse;
}

.su-light-form .ggeWidget .ggeContent .ggeQuestion.su-phone,
.su-light-form .ggeWidget .ggeContent .ggeQuestion.su-email,
.su-light-form .ggeWidget .ggeContent .ggeQuestion.su-email textarea {
  @apply su-text-black;
}

.su-light-form .ggeWidget .ggeQuestion input[type="email"],
.su-light-form .ggeWidget .ggeQuestion input[type="number"],
.su-light-form .ggeWidget .ggeQuestion input[type="text"],
.su-light-form .ggeWidget .ggeQuestion input[type="date"],
.su-light-form .ggeWidget .ggeQuestion select,
.su-light-form .ggeWidget .ggeQuestion textarea {
  @apply su-bg-transparent su-text-black;
}

.su-light-form .ggeWidget .ggeQuestion input[type="email"]:focus,
.su-light-form .ggeWidget .ggeQuestion input[type="number"]:focus,
.su-light-form .ggeWidget .ggeQuestion input[type="text"]:focus,
.su-light-form .ggeWidget .ggeQuestion input[type="date"]:focus,
.su-light-form .ggeWidget .ggeQuestion select:focus,
.su-light-form .ggeWidget .ggeQuestion textarea:focus {
  @apply su-rounded su-border-2 su-border-digital-blue;
  border-image-source: none;
  border-image-slice: none;
}

.su-light-form .ggeWidget .ggeQuestion .ggeQuestion__field,
.su-light-form .ggeWidget .ggeQuestion .ggeQuestion__field .ggeQuestion__caption,
.su-light-form .ggeWidget .ggeQuestion .ggeQuestion__field .ggePrompt__select .ggeQuestion__caption {
  @apply su-mb-0 su-rs-mt-neg1 su-text-15 md:su-text-18 su-text-black;
}

/* Membership Tally Table */
.su-light-form .ggeWidget .ggeSection header h1 {
  @apply su-mt-0 su-font-semibold su-text-black;
}

.su-light-form .ggeWidget .ggeQuestion.su-membership {
  @apply su-mb-0;
}

.su-light-form .ggeWidget .ggeQuestion.su-membership.su-membership-installment fieldset {
  @apply su-order-1;
}

.su-light-form .ggeWidget .ggePage--payment tr .ggeTally--terms {
  @apply su-type-1 su-font-semibold su-rs-pt-3;
}

/* Membership Installment Tally Table */
.su-light-form .ggeWidget .ggeQuestion.su-membership.su-membership-installment .ggePaymentPlan {
  @apply su-rs-mt-3;
}

.su-light-form .ggeWidget .ggeQuestion.su-membership.su-membership-installment .ggePaymentPlan header {
  @apply su-rs-mb-0;
}

.su-light-form .ggeWidget .ggeQuestion.su-membership.su-membership-installment .ggePaymentPlan h1 {
  @apply su-font-semibold su-type-2;
}

.su-light-form .ggeWidget .ggeQuestion.su-membership.su-membership-installment .ggePaymentPlan .ggePrompt--installmentOption label[for="ggePaymentPlan--installmentOption__ggid1"] {
  @apply su-block su-text-18 sm:su-text-21 su-font-semibold;
}

.su-light-form .ggeWidget .ggeQuestion.su-membership.su-membership-installment .ggePaymentPlan .ggePrompt--installmentOption .ggeQuestion__caption {
  @apply su-text-15 md:su-text-18 su-text-black;
}

.su-light-form .ggeWidget .ggeQuestion.su-membership.su-membership-installment .ggePaymentPlan .ggePrompt--installmentOption.ggePrompt--checked .ggePrompt__radio {
  @apply su-hidden;
}

/* Membership Confirmation Tally Table */
.su-light-form .ggeWidget .ggeConfirmation {
  text-align: center;
  background-image: url("data:image/svg+xml,<svg width='83' height='82' viewBox='0 0 83 82' stroke-width='7' stroke-linecap='round' stroke-linejoin='round' stroke='%23006CB8' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M29 41L37.3333 49.3333L54 32.6667M79 41C79 61.7107 62.2107 78.5 41.5 78.5C20.7893 78.5 4 61.7107 4 41C4 20.2893 20.7893 3.5 41.5 3.5C62.2107 3.5 79 20.2893 79 41Z' /></svg>");
  background-repeat: no-repeat;
  background-size: 75px 75px;
  background-position: center 0;
}

.su-light-form.su-payment-history .ggeButton--payBalance,
.su-light-form .ggeWidget .ggeConfirmation .ggeButton.ggeButton--forward {
  @apply su-rs-mt-5 su-bg-digital-red hocus:su-bg-cardinal-red-xdark;
}

.su-light-form .ggeWidget .ggeConfirmation .ggeTally td {
  @apply su-border-0;
}

.su-light-form .ggeWidget .ggeConfirmation .ggeTally .ggeTallyTable .ggeTally--header {
  @apply su-p-0 su-text-black;
}

.su-light-form .ggeWidget .ggeConfirmation .ggeTally .ggeTallyTable .ggeTally--headtext {
  @apply su-type-1 su-font-semibold su-text-saa-electric-blue-light su-pb-0;
}

.su-light-form .ggeWidget .ggeConfirmation .ggeTally .ggeTallyTable td.ggeTally--confirmation {
  @apply su-font-semibold su-rs-pb-1;
}

.su-light-form .ggeWidget .ggeConfirmation .ggeTally .ggeTallyTable td.ggeTally--total {
  @apply su-border-t su-border-black-70;
}

.su-light-form .ggeWidget .ggeConfirmation .ggeTally td.ggeTally--subheader {
  @apply su-rs-pt-5 su-type-1 su-font-semibold;
}

/* Membership Payment section */
.su-light-form .ggeWidget .ggePayment--credit.ggePayment--credit--nameOnCard {
  @apply su-w-full;
}

.su-light-form .ggeWidget .ggePayment--credit.ggePayment--credit--nameOnCard .ggeQuestion__field input {
  @apply su-mr-0 lg:su-w-[80%] 2xl:su-w-[calc(70%_-_2rem)];
  margin-right: 2rem;
}

.su-light-form .ggeWidget .ggePayment--credit.ggePayment--credit--account {
  @apply su-mr-0 su-w-full md:su-w-[calc(75%_-_2rem)] 2xl:su-w-[calc(70%_-_2rem)];
  margin-right: 2rem;
}

.su-light-form .ggeWidget .ggePayment--credit.ggePayment--credit--account .ggeQuestion__field input {
  @apply su-w-full sm:su-w-[75%] md:su-w-full;
}

.su-light-form .ggeWidget .ggePayment--credit.ggePayment--credit--verification {
  @apply su-w-full md:su-w-[25%] 2xl:su-w-[30%];
}

.su-light-form .ggeWidget .ggePayment--credit.ggePayment--credit--verification .ggeQuestion__field input {
  @apply su-w-full sm:su-w-[25%] md:su-w-full;
}

.su-light-form .ggeWidget .ggePayment--credit.ggePayment--credit--monthExpires,
.su-light-form .ggeWidget .ggePayment--credit.ggePayment--credit--yearExpires{
  @apply su-w-full sm:su-w-[calc(50%_-_10px)];
}

.su-light-form .ggeWidget .ggePayment--credit.ggePayment--credit--monthExpires select,
.su-light-form .ggeWidget .ggePayment--credit.ggePayment--credit--yearExpires select {
  @apply su-w-full;
}

/* Email and Phone Number */
.su-light-form .ggeWidget .ggeSection--profile .ggeQuestion[data-name="ContactEmail"] {
  @apply su-rs-mb-neg2 su-rs-mt-3;
}
.su-light-form .ggeWidget .ggeSection--profile .ggeQuestion[data-name="PhoneNumber"] {
  @apply su-rs-mb-neg2;
}
.su-light-form .ggeWidget .ggeSection--profile .ggeQuestion[data-name="UpdatePhoneNumber"] {
  @apply su-rs-mb-5;
}

/* Address */
.su-light-form .ggeWidget .ggeSection--profile .ggeAddress__state select {
  @apply su-leading-display;
}

.su-light-form .ggeWidget .ggeSection--profile .ggeAddress__state,
.su-light-form .ggeWidget .ggeSection--profile .ggeAddress__zipcode {
  @apply su-rs-mb-5;
}

/* Membership registration leave a comment */
.su-light-form .ggeWidget .ggeQuestion[data-name="Comments"] .ggeQuestion__label {
  @apply su-clear-both;
}

.su-light-form .ggeWidget .ggeQuestion .ggeQuestion__label,
.su-light-form .ggeWidget .ggeQuestion .ggeQuestion__label label,
.su-light-form .ggeWidget .ggeQuestion[data-name="Comments"] .ggeQuestion__label label[for="Comments__ggid1"] {
  @apply su-font-semibold;
}

/* Membership registration terms & conditions */
.su-light-form .ggeWidget .ggeSection--profile .ggeQuestion.ggeQuestion--instructions #TermsandConditions {
  @apply su-font-semibold su-text-black su-type-0;
}

.su-light-form .ggeWidget .ggeSection--profile .ggeQuestion.ggeQuestion--instructions #InstallmentPaymentTerms {
  @apply su-rs-mb-0;
}
.su-light-form .ggeWidget .ggeSection--profile .ggeQuestion.ggeQuestion--instructions #TermsandConditions a {
  @apply su-text-digital-red su-font-semibold hocus:su-underline hocus:su-text-cardinal-red hocus:su-decoration-cardinal-red;
}
.su-light-form .ggeWidget .ggeSection--profile .ggeQuestion.ggeQuestion--instructions #TermsandConditions a::after {
  @apply su-hidden;
}
.su-light-form .ggeWidget .ggeSection--profile .ggeQuestion--instructions.su-terms-and-conditions {
  @apply su-rs-mb-1 su-mt-0 su-flex su-flex-col su-justify-start su-w-full;
}
.su-light-form .ggeWidget .ggeSection--profile .ggeQuestion--acknowledgment.su-terms-and-conditions-check .ggeQuestion__field {
  @apply su-items-center;
  flex-direction: row !important;
}

.su-light-form .ggeWidget .ggeSection--profile .ggeQuestion--acknowledgment.su-terms-and-conditions-check .ggeQuestion__field .ggePrompt {
  @apply su-mt-0;
}

/* Membership selection section */
.su-light-form .ggeWidget .ggeSection--askArray.ggeSection--registration header {
  @apply su-rs-mb-2;
}

.su-light-form .ggeWidget .ggeSection--askArray.ggeSection--registration header h1 {
  @apply su-type-2;
}

.su-light-form .ggeWidget .ggeSection--askArray.ggeSection--registration .ggePrompt__price::before {
  @apply su-hidden;
}
.su-light-form .ggeWidget .ggeSection--askArray.ggeSection--registration .ggePrompt__price {
  @apply su-rs-ml-1;
}
.su-light-form .ggeWidget .ggeSection--askArray.ggeSection--registration .ggePrompt {
  @apply su-items-start first:su-mt-0 su-rs-mb-2 last:su-mb-0;
}
.su-light-form .ggeWidget .ggeSection--askArray.ggeSection--registration .ggePrompt .ggePrompt__label {
  @apply su-w-full;
}
.su-light-form .ggeWidget .ggeSection--askArray.ggeSection--registration .ggePrompt .ggePrompt__label label {
  @apply su-flex su-justify-between;
}
.su-light-form .ggeWidget .ggeSection--askArray.ggeSection--registration .ggePrompt .ggePrompt__label .ggeQuestion__caption {
  @apply su-block su-w-10/12 su-leading-display su-ml-0;
}
.su-light-form .ggeWidget .ggeSection--askArray.ggeSection--registration .ggePrompt .ggePrompt__label .ggeQuestion__caption div {
  @apply su-mt-02em;
}

/* Membership Payment Nav Buttons */
.su-light-form .ggeWidget .ggePage--payment .ggePageNav {
  @apply su-flex su-flex-col sm:su-flex-row su-items-center;
}

.su-light-form .ggeWidget .ggePage--payment .ggePageNav .ggePageNav--back {
  @apply su-mb-30 sm:su-mb-0;
}

/* Membership Checkbox */
.su-light-form .ggeWidget .ggePrompt .ggePrompt__checkbox input {
  @apply su-flex su-w-[2.4rem] su-h-[2.4rem] su-ml-0 su-mb-0 su-rounded-l su-rounded-r su-border-2 su-border-transparent su-bg-digital-blue su-cursor-pointer;
  -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

.su-light-form .ggeWidget .ggePrompt.ggePrompt--checked .ggePrompt__checkbox input {
  background: #006CB8
    border-box;
}

.su-light-form .ggeWidget .ggePrompt .ggePrompt__checkbox input:hover {
  background: #006CB8
    border-box;
}

.su-light-form .ggeWidget .ggePrompt.ggePrompt--checked .ggePrompt__checkbox::before {
  @apply su-absolute su-top-1/2 su-left-1/2 su-flex su-w-[2rem] su-h-[2rem] su--translate-y-1/2 su--translate-x-1/2 su-pointer-events-none;
  content: "";
  background: #006CB8;
  border-radius: 0;
}

.su-light-form .ggeWidget .ggePrompt.ggePrompt--checked .ggePrompt__checkbox::after {
  @apply su-absolute su-top-1/2 su-left-1/2 su-flex su-w-[2rem] su-h-[2rem] su--translate-y-1/2 su--translate-x-1/2 su-pointer-events-none;
  content: "";
  background: #ffffff;
  mask: url("../assets/check-mark.svg");
  -webkit-mask-size: contain;
}

.ggePrompt__checkbox:focus::before,
.ggePrompt__checkbox:hover::before {
  @apply su-absolute su-inset-[-.6rem] su-bg-digital-blue/[.4];
  content: "";
}

.su-light-form .ggeWidget .ggePrompt.ggePrompt--checked .ggePrompt__checkbox:hover::before {
  background: #006CB8;
  opacity: 0.4;
  content: "";
}

/* Membership Radio Select */
.su-light-form .ggeWidget .ggePrompt .ggePrompt__radio input {
  @apply su-flex su-w-[2.4rem] su-h-[2.4rem] su-ml-0 su-mb-0 su-rounded-full su-border-2 su-border-transparent su-cursor-pointer;
  background: #006CB8 border-box;
  -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

.su-light-form .ggeWidget .ggePrompt.ggePrompt--checked .ggePrompt__radio::after,
.su-light-form .ggeWidget .ggePrompt__other.ggePrompt--checked .ggePrompt:first-of-type .ggePrompt__radio::after {
  @apply su-absolute su-top-1/2 su-left-1/2 su-flex su-w-[1.2rem] su-h-[1.2rem] su--translate-y-1/2 su--translate-x-1/2 su-rounded-full;
  background: #006CB8;
  content: "";
}

.ggePrompt__radio:focus::before,
.ggePrompt__radio:hover::before {
  content: "";
  @apply su-absolute su-inset-[-.6rem] su-rounded-full su-bg-digital-blue/[.4];
}

.su-light-form .ggeWidget .ggePrompt.ggePrompt--checked .ggePrompt__radio:hover::before,
.su-light-form .ggeWidget .ggePrompt__other.ggePrompt--checked .ggePrompt:first-of-type .ggePrompt__radio::before {
  background: #006CB8;
  opacity: 0.4;
}

/* Membership Buttons */
.su-light-form .ggeWidget .ggePageNav .ggeButton--back:disabled,
.su-light-form .ggeWidget .ggePageNav .ggeButton--back,
.su-light-form .ggeWidget .ggeButton--back {
  border-image-source: none;
  background-image: none;
  @apply su-static su-pr-[3rem] su-translate-x-0 su-relative su-text-digital-red su-border-solid su-border-digital-red hocus:su-border-cardinal-red-xdark hocus:su-bg-transparent hocus:su-text-cardinal-red-xdark;
}

.su-light-form .ggeWidget .ggeButton--back::before {
  @apply su-bg-digital-red hocus:su-bg-cardinal-red-xdark;
}

.su-light-form .ggeWidget .ggeButton--back:hover::before,
.su-light-form .ggeWidget .ggeButton--back:focus::before {
  @apply su-bg-cardinal-red-xdark;
}

.su-light-form.su-payment-history .ggeButton--payBalance,
.su-light-form .ggeWidget .ggeButton--submitPaymentInfo,
.su-light-form .ggeWidget .ggeButton--forward:disabled,
.su-light-form .ggeWidget .ggeButton--forward {
  @apply su-text-white su-bg-digital-red hocus:su-bg-cardinal-red-xdark;
}

/* Self Service Portal */

.su-light-form .ggeBackToList,
.su-light-form .ggeDonorSelfServe > .ggeHeader > h1,
.su-light-form .ggeSection.ggeSection--suspend h1,
.su-light-form .ggeSection.ggeSection--suspend #ggeSuspendForm {
  @apply su-hidden;
}

.su-light-form h1,
.su-light-form.su-payment-update .ggeSection--payment h1 {
  @apply su-type-1;
}

/* Payment History */
/* Hide Update Payment Information */
.su-light-form.su-payment-history .ggeDonorSelfServe > .ggeHeader > h1,
.su-light-form.su-payment-history .ggeSection--paymentHistory h1,
.su-light-form.su-payment-history .ggeSection--payment {
  @apply su-hidden;
}

.su-light-form.su-light-form.su-payment-history .ggeContent,
.su-light-form.su-light-form.su-payment-history .ggeTable.ggeTable--paymentTable {
  @apply su-h-full su-w-full su-overflow-x-visible su-overflow-y-visible;
}

.su-light-form.su-payment-history .ggePayBalanceBtn {
  @apply su-block;
}

.su-light-form.su-payment-history .ggeButton.ggeButton--payBalance {
  @apply su-rs-mt-2 su-ml-auto;
}

.su-light-form.su-payment-history .ggeScheduleSuspendedStatus {
  @apply su-rs-mt-3 su-card-paragraph;
}

/* Payment Update */
.su-light-form .ggeWidget .ggeQuestion .ggeQuestion__field span {
  @apply su-text-21;
}

.su-light-form .ggeWidget .ggeQuestion .ggeQuestion__field span strong {
  @apply su-text-21 su-font-regular;
}

/* Hide Payment History Information */
.su-light-form.su-payment-update .ggeQuestion--buttons,
.su-light-form.su-payment-update .ggeSection.ggeSection--suspend,
.su-light-form.su-payment-update .ggeSection.ggeSection--paymentHistory {
  @apply su-hidden;
}

.su-light-form.su-payment-update #ggeBillingForm {
  @apply su-rs-mt-3;
}

.su-light-form.su-payment-update #ggeBillingForm .ggePayment--accountEmail, 
.su-light-form.su-payment-update #ggeBillingForm .ggePayment--accountName, 
.su-light-form.su-payment-update #ggeBillingForm .ggePayment--scheduleId,
.su-light-form.su-payment-update .ggeSection--payment .ggeAddress__street1, 
.su-light-form.su-payment-update .ggeSection--payment .ggeAddress__street2 {
  grid-column: span 6;
}

.su-light-form.su-payment-update .ggeSection--payment .ggeAddress__state, 
.su-light-form.su-payment-update .ggeSection--payment .ggeAddress__city{
  grid-column: span 4;
}

.su-light-form.su-payment-update .ggeSection--payment .ggeAddress__zipcode {
  grid-column: span 2;
}

.su-light-form.su-payment-update .ggeDonorSelfServe #ggeBillingForm .ggePayment--credit,
.su-light-form.su-payment-update .ggeDonorSelfServe #ggeBillingForm .ggeAddress > .ggeQuestion {
  @apply su-w-full;
}

.su-light-form.su-payment-update #ggeBillingForm .ggeQuestion.ggeAddress {
  @apply su-m-0
}